body{
  width: 800px;
}
.text {
  margin-left: 100px;
  text-align: left;
  float: right;
  font-size: 24px;
  font-family: sans-serif;
}
.author{
  font-size: 32px;
  color: gray;
  float: left;
  font-family: sans-serif;
}
.title{
  width: 1000px;
  font-size: 56px;
  color: gray;
  text-align: right;
  font-family: sans-serif;
}
.chapter{
  font-size: 40px;
  color: gray;
  font-style: italic;
  float:right;
  font-family: sans-serif;
}
