body{
  background-color: violet;
  margin-top: 300px;
}
h1{
  color: cyan;
  text-align: center;
  font-family: Times;
  font-size: 400%;
}
h3{
  color: cyan;
  text-align: center;
  font-family: Times;
  font-size: 150%;
}
a:hover{
  color: blue;
}
p{
  text-align: center;
  color: green;
  font-size: 250%;
  font-family: monospace;
}
a{
  color: tomato;
}
